:root {
  font-family: "Space Mono", monospace;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: calc(100vw - 1000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.header {
  width: 100%;
  min-width: 500px;
  text-align: center;
  background-color: #76a6ff;
  box-sizing: border-box;
  padding: 1rem;
  color: #000661;
  border: 1px solid #000661;
  border-radius: 5px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.search {
  font-weight: 600;
  white-space: nowrap;
}

.menuSearch {
  display: flex;
  gap: 10px;
}

.boxResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: auo;
}

input {
  all: unset;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000661;
  outline: none;
  padding: 0 10px;
}

h1 {
  font-size: 24px;
}

h3 {
  margin: 20px 0 0 0;
}

button {
  width: 208px;
  height: 100%;
  background: #000661;
  border: none;
  color: white;
  min-width: 150px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

/* Estilos para o loader */
.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #76a6ff #76a6ff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #000661 #000661;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
